 
 <!--=== Copyright ===-->
    <div class="copyright">
        
            <div class="row">
                <div class="col-md-1" style="padding:20px;">  
                    <img src="graphics/pa-logo.png" height="42" width="42">
                </div>
                <div class="col-md-11">                     
                    <p>
                        You are reminded that all PA officers are governed by the Government Instruction Manual 8F (Policy on Data Management) on the use, release and safekeeping of data.  The information obtained from Citizens And Permanent Residents Integration System (CAPRIS) is for your internal official use only.  If you wish to use the data for any other purpose or if you are requested to share the data with any third party, please obtain written approval from Chief Executive Director through Director (Information and Knowledge Management Systems).
                    </p>
                </div>
                
            </div>
       
    </div><!--/copyright--> 
    <!--=== End Copyright ===-->
